page-home {

 .b11, .b22, .list{
	background-color: #05386B;
	text-color: #fff;
}

.head{
	background-color: #b4dfe5;
}

.i{
	border-radius:100px;
	

}
.warna{
	background-image:url('../assets/img/backg.jpg');
}
	.b11{
		font-color: #fff;
	}

}